# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/LibXml/CopilotIndices/17.14.1641.39856
/.vs/LibXml/FileContentIndex
/.vs
/backup
/build-int
/src/System.Xml/build/System.Xml/Debug
/src/System.Xml/build-int/System.Xml/Debug/System.Xml.tlog
/src/System.Xml/build-int/System.Xml/Debug
/tests/System.Xml.Tests/build-int/System.Xml.Tests/Debug
/LIBXML_TODO.md
/build/System.Xml/Debug
/src/System.Xml/build-int/System.Xml/Release
/outtests-int
/build
/outtests
/xmlconf
/largreTest.xml
/.vscode/settings.json
